/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body */
body {
    background-color: #f4f4f4;
    padding: 20px;
}

/* Header */
header {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
    padding: 10px 20px;
    background-color: #03274b;
    color: white;
    margin-bottom: 20px; /* Space between the header and form */
}

header .left {
    display: flex;
    align-items: center;
}

header .left img {
    margin-right: 10px; /* Space between the logo and the text */
}

header .left h1 {
    margin: 0;
    font-size: 1.6em; /* Adjust the size as needed */
}

/* Form container */
.form-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the form content */
}

/* Form heading */
.form-container h2 {
    color: #003366;
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #003366;
    padding-bottom: 10px;
    text-align: center; /* Center the form headings */
}

/* Labels and input styling */
label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-align: left;
}

.week-label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 8px;
}

h3 {
    padding-top: 15px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Submit Button */
button[type="submit"] {
    background-color: #003366;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #00509e;
}

/* Table styles */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #003366;
    color: #fff;
}

table td select, table td input {
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar h1 {
        margin-left: 0;
        margin-top: 10px;
    }

    .form-container {
        padding: 15px;
    }
}
